<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4 col-xxl-6 offset-xxl-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class="validated-form" novalidate method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input class="form-control" type="text" name="username" id="username" required>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Username is required</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Email is required</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Password is required</div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>